.loginContainer {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.loginFormStyle {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  padding-top: 20px;
}

.loginLoginButton {
  width: 60%;
}
